ul {
    padding-left: 0px;
}
li {
    list-style: none;
}
button:hover {
    transition: 0.4s;
    background-color: red;
    border: 1px solid red;
}
.cancel{
    color: red;
    background: white;
    border: 1px solid red;
}

.cancel:hover{
    background: whitesmoke;
}