<form class="createchannel-form">
        <h2>Create channel</h2>
        <div class="form-channel">
            <label for="channel_name">Channel name</label>
            <input name = "channel_name" [(ngModel)] = "channel_name" type="text" class="form-control" id="channel_name" placeholder="Channel name">
        </div>
        <div class="margin-top margin-bottom form-channel">
            <h6>Channel group</h6>
            <button *ngFor="let g of grouplist" id="g_{{g.group_name}}" class="btn btn-primary unselected" (click)="selectgroup($event, g.group_name)">{{g.group_name}}</button>
        </div>

        <div class="margin-top" *ngIf="userlist != null" class="form-channel">
            <h6>Select channel members</h6>
            <button *ngFor="let u of userlist" id="u_{{u}}" class="btn btn-primary unselected" (click)="toggleuser($event, u)">{{u}}</button>
        </div>
        <div class="margin-top">
            <button type="submit" class="btn btn-primary" (click)="create($event)">Create</button>
            <button type="submit" class="btn btn-primary" style="float:right; background: grey; border: grey;" (click)="cancel($event)">Cancel</button>
        </div>
        <p *ngIf="error">Channel creation failed.</p>
    </form>