.login-form{
    border-radius: 10px 10px 0px 0px;
    box-shadow: #0000006e 7px 7px 14px 0px;
    padding: 40px;
    background: white;
    height: calc(100vh - 60px);
    min-height: 310px;
    color: #4c4c4c;
    animation-duration: 0.5s;
    transform-origin: bottom;
    max-width: 600px;
    margin: auto;
}

.login-form input{
    margin-bottom: 1em;
    padding: 0.5em;
}

button{
    margin-bottom: 20px;
}
p{
    color: red
}
.shake {
    animation-name: shake;
    animation-timing-function: ease;
}
@keyframes shake {
    0%   { transform: translateX(0); }
    10%  { transform: translateX(-20px); }
    30%  { transform: translateX(20px); }
    50%  { transform: translateX(-10px); }
    70%  { transform: translateX(10px); }
    100% { transform: translateX(0); }
}