.ch_contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.channel_card{
    transition: 0.2s;
    box-shadow: #0000006e 7px 7px 14px 0px;
    border-radius: 10px 10px 10px 10px;
    flex-grow: 1;
    flex-basis: 40%;
    max-width: 45%;
    min-width: 200px;
    margin: 10px;
    height: 300px;
    padding: 20px;
    /* background: white; */
    background: linear-gradient( 10deg, white, white);
}


.channel_card:hover{
    transition: 0.2s;
    cursor: pointer;
    margin-top: 0px;
    background: linear-gradient( 0deg,rgb(246, 246, 256), white );
}

.card_emoji_text{
    transition: 0.2s;
    opacity: 0;
}

.channel_card:hover .card_emoji_text{
    transition: 0.2s;
    opacity: 1;
}
.channel_card h3{
    color: #1a7ad6;
}

.exit_channel_btn{
    background-color: white;
    color: #1a7ad6;
    position: fixed;
    right: 10px;
    top: 2px;
}

.exit_channel_btn:hover{
    text-align: right;
    cursor: pointer;
    background-color: #1a7ad6;
    color: white;
}

.msg_container{
    border-radius: 10px 10px 0px 0px;
    padding: 30px 0 0 0;
    height: calc(100vh - 60px);
    text-align: center;
    min-width: 400px;
    width: 100%;
    margin: auto;
    box-shadow: #0000006e 7px 7px 14px 0px;
}

.no_channels {
    border-radius: 10px 10px 0px 0px;
    padding: 30px;
    height: calc(100vh - 60px);
    text-align: center;
    min-width: 250px;
    width: 60%;
    margin: auto;
    box-shadow: #0000006e 7px 7px 14px 0px;
}

.no_channels h1 {
    color: #1a7ad6;
    text-shadow: 2px 2px 5px #cccccc;
    z-index: 2;
}
.no_channels img {
    z-index: -1;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 200px;
    /* left: 100px; */
    left: calc(50% - 100px);
    bottom: 50px;
}
.new_message {
    /* position: relative; */
    /* bottom: 0px; */
    width: 100%;
    padding: 0 0px;
    background: linear-gradient(230deg, #8e55ffb5,#0066ff99);
    color: white;
    letter-spacing: 1px;
}

.message_flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.message {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin: 3px 20px;
}

.message p {
    margin-bottom: 5px;
} 

.sender {
    color: lightgreen;
}

.my_messages {
    float: right;
    background: blue;
    color: white;
    /* border: 1px solid grey; */
}

.other_messages {
    float: left;
    background: grey;
    /* border: 1px solid grey; */
    color: black;
}

.new_message_bar {
    display: flex;
    flex-direction: row;
}

.form-group{
    padding: 10px;
    margin-bottom: 2px;
}

.form_input{
    width: -webkit-fill-available;
}

#scroll_me{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}