<nav class="navbar navbar-default">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
    <li><a id="home-link" class="nav-link active" routerLink="/home">Home</a></li>
    <li><a id="login-link" class="nav-link" routerLink="/login">Login</a></li>
    <li><a id="profile-link" class="nav-link" routerLink="/profile">Profile</a></li>
    <li><a id="groups-link" class="nav-link" routerLink="/groups">Groups</a></li>
    <li><a id="channels-link" class="nav-link" routerLink="/channels">Channels</a></li>
  </ul>
</div>
 </nav>
 <div class="container">
  <router-outlet></router-outlet>
 </div>