<form class="createuser-form">
        <h2>Create user</h2>
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input name = "username" [(ngModel)] = "username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input name = "email" [(ngModel)] = "email" type="text" class="form-control" id="email" placeholder="Email address">
            </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input name = "password" [(ngModel)] = "password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
                <label for="inputPassword">Confirm password</label>
                <input name = "password" [(ngModel)] = "confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
        </div>
        <div class="form-group">
                <button type="submit" class="activelvl lvl0 lvlbtn btn btn-primary" (click)="changeLvl(0)">Regular user</button>
                <button type="submit" class="lvl1 lvlbtn btn btn-primary" (click)="changeLvl(1)">Group assis</button>
                <button type="submit" class="lvl2 lvlbtn btn btn-primary" (click)="changeLvl(2)">Group admin</button>
                <button type="submit" class="lvl3 lvlbtn btn btn-primary" (click)="changeLvl(3)">Super user</button>
            </div>
            <button type="submit" class="btn btn-primary" (click)="create($event)">Create</button>
        <button type="submit" class="btn btn-primary" style="float:right; background: grey; border: grey;" (click)="cancel($event)">Cancel</button>
        <p *ngIf="this.error">User creation failed, {{this.error}}.</p>
    </form>