<form class="creategroup-form">
    <h2>Create group</h2>
    <div class="form-group">
        <label for="groupName">Group name</label>
        <input name = "groupname" [(ngModel)] = "groupname" type="text" class="form-control" id="groupname" placeholder="Group name">
    </div>
    <div *ngIf="userlist != null" class="form-group">
        <p>Select group members</p>
        <button *ngFor="let u of userlist" id="{{u.username}}" class="btn btn-primary unselected" (click)="toggleuser($event, u.username)">{{u.username}}</button>
        </div>
    <button type="submit" class="btn btn-primary" (click)="create($event)">Create</button>
    <button type="submit" class="btn btn-primary" style="float:right; background: grey; border: grey;" (click)="cancel($event)">Cancel</button>
    <p *ngIf="error">Group creation failed, {{error}}.</p>
</form>