<!-- <script>
    var global = global || window;
</script> -->
<div class="base">
    <div class="flex-wrapper">
        <div class="left">

            <h6>User profile:</h6>
            <h2>{{User.username}}</h2>
            <h6>Here are your stored details: </h6>
            <ul>
                <li *ngIf="this.User.level">User type: {{level[User.level]}}</li>
                <li *ngIf="this.User.email">Email: {{User.email}}</li>
            </ul>
            <div *ngIf="this.User.groups.length > 0">
                <h6>Groups you belong to:</h6>
            </div>
            <ul *ngFor="let u of this.User.groups">
                <li>{{u}}</li>
            </ul>
            <!-- <div *ngIf="allUsers">
                <h4>Here are all stored users: </h4>
                <ul *ngFor="let u of allUsers">
                    <li>{{u.username}} - {{level[u.level]}}</li>
                </ul>
            </div>
            <button *ngIf="User.level > 0" type="submit" class="btn btn-primary" (click)="adduser($event)">Add user to group</button> -->
            <button type="submit" class="btn btn-primary" (click)="logout($event)">Logout</button>
            <label class="image-upload-container btn btn-bwm">
                    <span class='label_span'>Change profile image </span>
                    <input #imageInput
                        type="file"
                        accept="image/*"
                        (change)="processFile(imageInput)">
                </label>
        </div>
        <div class="right">
            <div *ngIf="this.selectedFileSrc">
                <!-- <img src="data:image/jpeg;base64,{{this.selectedFileSrc.toString()}}"> -->
                <!-- <img src="{{this.selectedFileSrc.toString()}}"> -->
                <img class="user_image" [src]="this.selectedFileSrc" alt="No image">
            </div>
        </div>

    </div>
</div>