* {
    color: #4c4c4c;
}

button {
    color: white;
    margin-right: 20px;
}

.flex-wrapper{
    display: flex;
    flex-direction: row;
}

h6 {
    margin-top: 20px;
}

h2 {
    font-size: 40px;
}

.image-upload-container {
    padding-left: 0;
}

.image-upload-container span {
    float: left;
}

.label_span {
    margin-right: 5px;
}

.left {
    width: 50%
}

.right {
    width: 50%;
    /* background-color: grey; */
    border-left: 1px solid grey;
}

.base {
    border-radius: 10px 10px 0px 0px;
    padding: 30px;
    height: calc(100vh - 60px);
    min-width: 250px;
    width: 100%;
    margin: auto;
    box-shadow: #0000006e 7px 7px 14px 0px;
}

.base h1 {
    color: #1a7ad6;
    text-shadow: 2px 2px 5px #cccccc;
    z-index: 2;
}

.base ul {
    padding-left: 5px;
    list-style-type: none;
}

.user_image {
    width: 30vw;
    height: 30vw;
    margin: auto;
    margin-top: 40px;
    display: block;
    box-shadow: 10px 2px 20px 0px grey;
    border-radius: 100%;
}

.no_image {
    width: 30vw;
    height: 30vw;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    display: block;
    border: 1px dashed black;
    margin: auto;
}