<form *ngIf="channels" class="editchannel-form">
        <h2>Add channel members</h2>
        <button class="btn btn-primary unselected" *ngFor="let c of channels" (click)="selectchannel($event, c.channel_name)">{{c.channel_name}}</button>
        <div *ngIf="selectedchannel">
            <!-- <div class="form-channel">
                <label for="channel_name">Channel name</label>
                <input name = "channel_name" [(ngModel)] = "channel_name" type="text" class="form-control" id="channel_name" placeholder="{{selectedchannel.name}}">
            </div> -->
            <div class="margin-top margin-bottom form-channel">
                <h6>Channel group: {{selectedchannel.group_name}}</h6>
            </div>
            <div class="margin-top" *ngIf="selectedchannel.users != null" class="form-channel">
                <h6>Select channel members</h6>
                <button *ngFor="let u of potentialusers" id="{{u.username}}" class="btn btn-primary unselected" (click)="toggleuser($event, u.username)">{{u.username}}</button>
            </div>
            <div class="margin-top">
                <button type="submit" class="btn btn-primary" (click)="edit($event)">Save changes</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="display: block; margin-top: 10px; background: grey; border: grey;" (click)="cancel($event)">Cancel</button>
        <p *ngIf="error">{{error}}.</p>
    </form>